@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




.shopnow{
  text-decoration: underline;
}
.topnav{
  width: 100%;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}


@keyframes dot-flash {
  0% { opacity: 0; }
  20% { opacity: 1; }
  100% { opacity: 0; }
}

.dot-animated span {
  animation-name: dot-flash;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.dot-animated span:nth-child(2) {
  animation-delay: 0.2s;
}
.dot-animated span:nth-child(3) {
  animation-delay: 0.4s;
}




@media(max-width:640px) {
  .flash{
    gap: 24px;
  }
}